/* ====================================== COMPONENTS ======================================  */

:root{
    --iris-primary-brand: #4D5AE5;
    --navi-blue-dark: #2E2F42;
    --green-success: #31D0AA;
    --slate-text: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--slate-text);
}

img {
    display: block;
}

ul, 
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    display: inline;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.title-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navi-blue-dark);
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navi-blue-dark);
}

.section-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-text);

}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
}

/* ====================================== /COMPONENTS ======================================  */

/* ====================================== HEADER ======================================  */

.page-header {
    display: flex;
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    
    justify-content: space-between;
    height: 72px;
    padding: 0px 15px;
}

.logo-link {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    /* display: flex; */
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navi-blue-dark);
    padding-top: 3px;
}
.logo-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    /* display: flex; */
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-primary-brand);
}
.navigation {
    display: flex;
    flex-direction: row;
}

.logo {
    display: flex;
}

.menu-nav {
    display: flex;
    /* display: block; */
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-left: 77px;
    gap: 40px;
}

.contact {
    display: flex;
}

.contact-mail-address {
    display: flex;
    width: 153px;
    height: 24px;
    margin-left: 331px;
}

.contact-phone-number {
    display: flex;
    width: 151px;
    height: 24px;
    margin-left: 40px;
}

.menu-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navi-blue-dark);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--iris-primary-brand);
}

.contact-mail-address {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-text);
}

.contact-phone-number {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-text);
}

.contact-phone-number:hover,
.contact-phone-number:focus {
    color: var(--iris-primary-brand);
}
    
 .contact-mail-address:hover,
 .contact-mail-address:focus {
    color: var(--iris-primary-brand);
 }
/* ====================================== / HEADER ======================================  */

/* ====================================== HERO ======================================  */

.hiro-fon {
    
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
 
    height: 603px;
    background-color: var(--slate-text);
    text-align: center;
    padding: 0;
    
}

.hiro-section {
    display: flex;
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 192px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.title-h1 {
    display: flex;
    width: 492px;
}

.main-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 0;
}

.modal-btn {
    display: flex;
    margin-top: 48px;
    width: 170px;
    height: 51px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: var(--iris-primary-brand);
    cursor: pointer;
}

.modal-btn:hover, 
.modal-btn:focus {
    background: var(--iris-primary-brand) ;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}

.modal-btn:active{
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* -------------section 2------------- */

.ll-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 1128px; */
}

.cont-sec-2 {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.sec-2-style {
    display: flex;
    display: block;
    flex-direction: column;
    width: 264px;
    height: 104px;
}

.ll-section-link:hover, 
.ll-section-link:focus {
    color: var(--iris-primary-brand);
    cursor: pointer;
}

/* -------------section 3------------- */

.lll {
    padding-top: 0;
}

.lll-section {
    display: flex;
    flex-direction: column;
}

.lll-sec-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 72px;
    gap: 24px;
}

.lll-section-img {
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)),;
    background-blend-mode: soft-light, normal;
}

.lll-section-link:hover,
.lll-section-link:focus {
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1),
     rgba(77, 90, 229, 0.1)),
      url(2368.jpg);
    background-blend-mode: soft-light, normal;
    border: 1px solid #E7E9FC;
} 

/* -------------section 4------------- */
.lv {
    padding-top: 0;
    height: 732px;
}

.lv-section {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    background-color: var(--cloud);
}

.lv-sec-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 72px;
    gap: 24px;
    cursor: pointer;
}

.team-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    margin-bottom: 120px;
    gap: 32px;

    width: 264px;
    height: 380px;
    cursor: pointer;


    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

}

.lv-sec-photo {
    width: 264px;
    height: 260px;
}

.team-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 232px;
    height: 56px;
}

.team-card:hover,
.team-card:focus {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

/* ====================================== /HERO ======================================  */

/* FOOTER */
.footer-section {
    display: flex;
    background-color: var(--navi-blue-dark);
    height: 310px;
    padding-top: 100px;
    padding-left: 15px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: start;

    width: 264px;
    height: 110px;
}

.logo-link-footer {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    /* display: flex; */
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
    padding-top: 3px;
}

.section-description-footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);

}

/* ====================================== PORTFOLIO MAIN ======================================  */

.portfolio {
    display: flex;
    flex-direction: column;
}

.portfolio-filters {
    display: flex;
    flex-direction: row;

    margin-left: auto;
    margin-right: auto;
    flex-direction: center;
    align-items: center;
    padding-top: 96px;
    gap: 24px;
}

.portfolio-filters-list {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    padding: 0px;
    gap: 24px;
}

.filtr-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.filters-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    background: var(--cloud);
    color: var(--iris-primary-brand);
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    padding: 12px 24px;
    
}

.filters-button:hover, 
.filters-button:focus {
    background: var(--iris-primary-brand);
    color: var(--cloud);
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid var(--cornflower);
    border-radius: 4px;
}


.portfolio-project-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 72px;
    
}

.project-card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 48px;

}
.project-card {
    display: flex;
    flex-direction: column;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 16px;
    gap: 8px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.project-card:hover, 
.project-card:focus {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 0.5px solid var(--cloud);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.img-portfolio {
    width: 360px;
    height: 300px;
    background: linear-gradient(0deg, 
    rgba(77, 90, 229, 0.1), 
    rgba(77, 90, 229, 0.1)), 
    url(4074365.jpg);
    background-blend-mode: soft-light, normal;
    mix-blend-mode: normal;
}
